/*==== GENERAL STYLES ====*/


* {
  box-sizing: border-box;
}

body {
  margin-bottom: 50px;
}

.content {
  min-height: calc(100vh - 50px);
}

html {
  min-height: 100%;
  position: relative;
}

/* === FOOTER STYLE ===*/

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px; /* Equals height of the footer and pushes away the content in the case they would touch. */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}